---
- name: Install git
  become: true
  ansible.builtin.apt:
    name: git

- name: Ensure basepath exists
  become: true
  ansible.builtin.file:
    path: "{{ repo_basepath }}"
    owner: "{{ repo_user }}"
    group: "{{ repo_group }}"
    mode: "0755"
    state: directory
    recurse: true

- name: Clone repo to {{ repo_basepath }}
  become: true
  become_user: "{{ repo_user }}"
  ansible.builtin.git:
    repo: "{{ repo_url }}"
    dest: "{{ repo_basepath }}"
    version: "{{ repo_branch }}"
    accept_hostkey: true
    single_branch: true
    recursive: false
    force: true
    depth: 1
    update: true
  environment:
    GIT_TERMINAL_PROMPT: "0"
    GIT_HTTP_MAX_BUFFER: "104857600"
